.footer {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
    padding: 2rem 4rem;
}

.hero__section_logo {
    width: 100px;
    height: auto;
}

.sec1 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logoBox {
    width: 150px;
    height: 30px;
    font-size: 1rem;
    font-weight: 600;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.filterBox {
    margin-right: 20px;
    padding: 10px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.arrow {
    margin-left: 5px;
}

.sec2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.boxTtl {
    margin: 10px 0px;
    letter-spacing: 2px;
    font-size: 1rem;
    /* Adjusted font size for mobile devices */
}

.boxOpt {
    margin: 5px 0px;
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 0.8rem;
    /* Reduced font size for mobile devices */
}

.socialImgAnchore {
    text-decoration: none;
}

.socialImg {
    width: 18px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.app {
    width: 146px;
    height: 38px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
}

.appImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.breakLine {
    margin: 20px 0;
    border-top: 1px solid rgb(207, 207, 207);
}

.sec3 {
    color: rgb(79, 79, 79);
    text-align: justify;
    font-size: 0.8rem;
}

/* Existing styles... */

@media all and (max-width: 800px) {
    .sec1,
    .sec2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 40%;
    }

    .footer {
        padding: 2rem 1rem; 
    }

    .boxTtl {
        font-size: 0.8rem; 
    }

    .boxOpt {
        font-size: 0.7rem; 
    }

    .sec3 {
        font-size: 0.7rem; 
    }
}

@media all and (max-width: 550px) {
    .footer {
        padding: 1rem 2rem;
    }
}
@media all and (max-width: 350px) {
    .footer {
        padding: 2rem 1rem;
    }

    .filters {
        margin: 2rem 0 0 0;
    }
    
}
